#===============================================================================
#                                  LOCAL FOLDERS
#===============================================================================
Local/
Target/
Tmp/
Output/
Out/
# TODO: Redo this with regex if possible
local/
target/
tmp/
output/
out/


#===============================================================================
#                        IDE AND ENVIRONMENT FILES AND FOLDERS
#===============================================================================
.idea/
.vscode/
.venv/
__pycache__/
env/
.antlr
*_out
antlr_grammar
*.py[oc]
build/
dist/
wheels/
*.egg-info
.ruff_cache
